@import "../../../styles/shared.scss";

.sidebar-item {
  background: #f5f5f5;
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    i.icon {
      margin-right: 20px;
      color: $grey;
    }
  }

  &.highlight-item {
    span {
      font-weight: 600;
    }

    i.icon {
      color: $red;
    }
  }
}

.sidebar-item-alignment-container {
  display: flex;
  align-items: center;
}
